.game {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
}

.game__left, .game__center, .game__right {
  width: 33%;
  height: 100%;
}

.game__left>div, .game__right>div {
  height: 50%;
  width: 100%;
}

.duke-container {
  display: flex;
  width: 100%;
  height: 13%;
  justify-content: center;
  padding: 8px 0;
}

.duke-container .duke {
  height: 100%;
  margin: 0 4px;
  transition: all 0.3s;
}
.duke-container .duke img {
  height: 100%;
}
.duke:hover{
  transform: scale(2);
}

.token-container {
  display: flex;
  width: 100%;
}
.token-container .token {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-container .token img{
  width: 100%;
}

.token-normal {
  display: flex;
  width: 80%;
  justify-content: center;
}

.token-normal .token img{
  width: auto;
  height: 100%;
}
.token-gold{
  width: 16%;
}

.token-gold .token {
  width: 100%;
  height: 100%;
}

.token-container .token-gold img{
  width: auto;
  height: 100%;
}

.token__number {
  text-align: center;
  display: flex;
  height: 16px;
}

.table-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83%;
}

.table-game .token-container {
  height: 13%;
  width: 100%;
}

.table-game .token img{
  height: calc(100% - 20px);
}

.card-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 66%;
  justify-content: center;
}

.card-level-row {
  display: flex;
  width: 100%;
  height: 33%;
  justify-content: center;
  align-items: center;
}

.card-level-row .card{
  height: calc(100% - 8px);
}
.card--up:hover{
  transform: scale(2);
}
.card {
  transition: all 0.3s;
  margin: 0 4px;
}
.profile{
  display: flex;
  flex-direction: column;
  border: dashed 1px gray;
  transition: all 0.3s;
}

.profile.my-turn {
  border: 2px solid yellow;
  box-shadow: 10px 10px 8px 10px #888888;
  display: flex;
  flex-direction: column;
}

.profile__name {
  justify-content: center;
  display: flex;
  height: 32px;
}

.profile__game {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  position: relative;
}

.profile__game__deposit {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__deposit__card{
  height: 30%;
  width: auto;
  transition: all 0.3s;
}

.profile__deposit__card--down {
  height: 30%;
}

.profile__deposit__card:hover{
  transform: scale(2);
}

.profile__game__deposit img {
  margin: 4px 0px;
}

.profile__game__token-cards {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile__game__token {
  height: 30%;
  width: 100%;
}

.profile__game__cards {
  height: 70%;
  width: 100%;
  display: flex;
}

.profile__game__duke{
  position: absolute;
  bottom: 12px;
  right: 0;
  height: 25%;
}

.profile__game__duke .duke-container{
  height: 100%;
}

.profile__card__column{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 4px;
  width: 20%;
}
.profile__card{
  height: auto;
  width: 100%;
  margin-top: -60px;
  transition: all 0.3s;
}
.profile__card:hover {
  transform: scale(2);
}

.action-board {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 34%;
  height: 15%;
  background: gray;
  border: 1px solid gray;
  margin-bottom: 12px;
  transition: all 0.3s;
  border-radius: 8px;
  display: flex;
  padding: 4px;
}

.action-board.active {
  background: white;
  border: none;
  box-shadow: 4px 5px 4px 5px #888888;

}

.action-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.action-container button {
  margin: 2px;
}

.action__confirm{
  position: absolute;
  right: 5px;
  top: 5px;
}
.action__confirm button{
  margin-right: 4px;
}
.action__buy {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.action__buy .token-container .token {
  width: 15%;
}
.action-buy__material{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.action-buy__material .card {
  height: 80%;
}

.action__collect-token {
  width: 80%;
}
.action__deposit-card .card {
  height: 80%;
}

.selecting{
  background: yellow;
  cursor: pointer;
}